
pynb_checkpoints
__pycache__
exported_data/FCC0*
exported_data/FCC1*
!exported_data/FCC167
exported_data/FCC2*
exported_data/FCC3*
exported_data/simulations
exported_data/M87
galaxy_data/FCC0*
galaxy_data/FCC1*
!galaxy_data/FCC167_data
galaxy_data/FCC2*
galaxy_data/FCC3*
galaxy_data/M87*
ICIC_work
Plots/FCC0*
Plots/FCC1*
!Plots/FCC167
Plots/FCC2*
Plots/FCC3*
Plots/*.png
Plots/*.pdf
Plots/M87
Plots/simulations
emiles/
gandalf_PNe/
Gandalf_pipeline/
.vscode
from_github/exported_data/FCC3*
.ipynb_checkpoints
notebooks/
exported_data/*.csv
exported_data/*.txt
exported_data/*.dat